* {
  margin: 0;
  padding: 0;
}

.gameProgress {
  border: 1px solid #0e7a0d;
  background: #0e7a0d;
  margin: 1em;
  padding: 0.75em;
  border-radius: 25px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
